go 1.20

use (
./structs/1_intro
./structs/2-nested_structs
./structs/3-anonymous_structs
./structs/3a-anonymous_structs
./structs/4-embedded_structs
./structs/5-methods
./interfaces/1-interfaces
./interfaces/2-implements
./interfaces/5-multiple_interfaces
./interfaces/7-type_assertion
./interfaces/8-type_switch
./errors/1-errors
./errors/3-custom_errors
./errors/5-errors_package
./errors/2-formatting_strings
./loops/1-intro
./loops/2-omit_condition
./loops/3-while
./loops/4-loops_fizzbuzz
./loops/5-continue_and_break
./slices/1-arrays
./slices/2-slices
./slices/4-slices_no_array
./slices/7-variadic_functions
./slices/8-append
./slices/9-2d_slices
./slices/11-range
./maps/1-maps
./maps/2-mutating_maps
./maps/4-maps_count
./maps/6-nested_maps
)